#controll {
   left: calc((350px - 110px) / 2);
   background-color: red;
   height: 110px;;
}
#processor {
background-color: rgb(247, 218, 89);
top: 100px;
border-radius: 10px;
width: 250px;
height: 200px;
}
#regrister {
 height: 50px;
 top: 10px;
 left: 20px;
 
}
#alu { 

}

#mermory { 

}

#input {

}

#output {

}
#cpu {
    left: 100px;
    top: 50px;
    width: 350px;
    height: 350px;
    background-color: bisque;
    border: solid black 2px;
    border-radius: 10px;
    
}

.firkant {
    position: absolute;
    left: 40;
    top: 20;
    width: 100px;
    height: 100px;
    background-color: green;
}