#controll {
   left: calc((350px - 110px) / 2);
   background-color: red;
   height: 110px;
}
#processor {
background-color: rgb(247, 218, 89);
top: 100px;
border-radius: 10px;
width: 250px;
height: 200px;
}
#regrister {
 height: 50px;
 top: 10px;
 left: 20px;
 background-color: pink;
}
#alu { 
top: 10px;
background-color: green;
}

#mermory { 
background-color: violet;
left: 200px;
top: 400px;
}

#input {
left: -17px;
top: 200px;
background-color: black;
}

#output {
    background-color: azure;
    left: 300px;
    top: 200px;
}
#cpu {
    left: 100px;
    top: 50px;
    width: 350px;
    height: 350px;
    background-color: bisque;
    border: solid black 2px;
    border-radius: 10px;
    
}

.firkant {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: green;
}